body {
  background: #022;
  color: #ccb;
  font-family: georgia, serif;
  line-height: 1.5;
  font-size: large;
  margin: 0 auto;
  max-width: 40em;
  padding: 0 1em;
}
h1, h2, h3, h4, h5, h6 {
  margin: 1em 0 0.5em 0;
  line-height: 1.2;
}
a:link, a:visited {
  color: #9cf;
  text-decoration: none;
}
a:focus, a:hover, a:active {
  color: #adf;
  text-decoration: underline;
}
a:empty:before {
  content: "#";
}
a:empty {
  visibility: hidden;
  padding-left: 0.25em;
}
:hover > a:empty {
  visibility: visible;
}
img {
  max-width: 100%;
}
figure {
  margin: 1em 0;
  text-align: center;
}
figcaption {
  font-size: small;
}
pre, code, samp, kbd {
  color: #6cf;
  font-family: monospace, monospace;
}
pre kbd {
  color: #9c9;
}
pre, blockquote {
  background: #011;
  padding: 0.5em;
}
pre {
  overflow: auto;
}
blockquote {
  border-left: medium solid #344;
  margin: 1em 0;
}
blockquote :first-child {
  margin-top: 0;
}
blockquote :last-child {
  margin-bottom: 0;
}
table {
  border-collapse: collapse;
}
th, td {
  border: thin solid #666;
  padding: 0.3em 0.4em;
  text-align: left;
}
hr {
  margin: 1.5em 0 1em 0;
  border: 0;
  border-bottom: thin dotted #aa9;
}
footer {
  text-align: center;
}
footer .links a {
  margin-right: 1.25em;
  line-height: 2.5;
}
footer .links a:last-child {
  margin-right: 0;
}
.highlight {
  padding: 0.5em;
}
.highlight :first-child {
  margin-top: 0
}
.highlight :last-child {
  margin-bottom: 0
}
.highlight {
  background: #011;
  color: #bbb;
  border-color: #666;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.right th, .right td{
  text-align: right;
}
